@import "reset.css";
@import "top-section.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,600;1,700&display=swap');
@import "portfolio.css";
@import "experience.css";
@import "services.css";
@import "footer.css";

html{
    background: black;
}

.container{
    max-width: 1150px;
    margin: 0 auto;
}

@media only screen and (max-width: 960px){
    .container{ width: 100%;}
}

/* Phones */
@media only screen and (max-width: 767px){

}


