/*#top{
    background-color: rgb(144, 143, 143);
}*/
#top .container{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
}
#top .info{
    padding: 15px;
    position: relative;
    text-align: left;
}
#top .info h1{
    color: hsl(0, 100%, 32%);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: -45px;
    margin-bottom: 2rem;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}

#top .info h2{
    color: hsl(0, 100%, 32%);
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    margin-left: -45px;
    position: relative;
    z-index: 1;
}

.img {
    animation: bounce 2s infinite;
}
@keyframes bounce{
    0%   { transform: translateY(6px), translateX(6px); }
    5%   { transform: translateY(8px); }
    10%  { transform: translateY(12px); }
    15%  { transform: translateY(20px); }
    20%  { transform: translateY(38px); }
    25%  { transform: translateY(72px); }
    30%  { transform: translateY(100px); }
    35%  { transform: translateY(152px); }
    40%  { transform: translateY(154px) scale(1.1, .9); }
    50%  { transform: translateY(176px) scale(1.4, .6); }
    55%  { transform: translateY(162px) scale(1.2, .8); }
    60%  { transform: translateY(138px) scale(1.05, .95); }
    65%  { transform: translateY(110px); }
    70%  { transform: translateY(72px); }
    75%  { transform: translateY(38px); }
    80%  { transform: translateY(20px); }
    85%  { transform: translateY(12px); }
    90%  { transform: translateY(8px); }
    95%  { transform: translateY(5px); }
    100% { transform: translateY(5px); }
}
#top .background-img{
    background: url('../img/portfolio-img.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    height: 400px;
}


/* Tablets */
@media only screen and (max-width: 960px){
    #top .container{
        padding: 0 0 80px 0;
    }
    #top .info .blue-square{
        display: none;
    }
    #top .img .background-img{
        height: 100vh;
    }
}
/* Phones */
@media only screen and (max-width: 767px){
    #top .container{
        padding: 0 0 80px 0;
    }
    #top .info .blue-square{
        display: none;
    }
    #top .img .background-img{
        height: 100vh;
    }
}