/*#top{
    background-color: rgb(144, 143, 143);
}*/
#top .container{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
}

#top .background-img{
    background: url('../img/portfolio-img.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    height: 400px;
}

.img {
    -webkit-animation-duration: 10s;
            animation-duration: 2.5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-2000px);
    }
    60% {
       opacity: 1;
       -webkit-transform: translateY(30px);
    }
    80% {
       -webkit-transform: translateY(-10px);
    }
    100% { 
       -webkit-transform: translateY(0);
    }
 }

@keyframes bounceInDown {
    0% {
       opacity: 0;
       transform: translateY(-2000px);
    }
    60% {
       opacity: 1;
       transform: translateY(30px);
    }
    80% {
       transform: translateY(-10px);
    }
    100% {
       transform: translateY(0);
    }
 }

 .img {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
 }

#top .info{
    padding: 15px;
    position: relative;
    text-align: left;
}
#top .info h1{
    color: hsl(0, 100%, 32%);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: -45px;
    margin-bottom: 2rem;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}

#top .info h2{
    color: hsl(0, 100%, 32%);
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    margin-left: -45px;
    position: relative;
    z-index: 1;
}

#mySidenav a {
    position: fixed;
    left: -100px;
    transition: 0.3s;
    padding: 5px;
    width: 115px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #main {
    top: 20px;
    background-color: #4CAF50;
  }
  
  #aboutMe {
    top: 80px;
    background-color: #2196F3;
  }
  
  #projects {
    top: 140px;
    background-color: #f44336;
  }
  
  #experience {
    top: 200px;
    background-color: #0fdbb9;
  }

  #contact {
    top: 260px;
    background-color: #555;
  }


/* Tablets */
@media only screen and (max-width: 960px){
    #top .container{
        padding: 0 0 80px 0;
    }
    #top .info .blue-square{
        display: none;
    }
    #top .img .background-img{
        height: 100vh;
    }
}
/* Phones */
@media only screen and (max-width: 767px){
    #top .container{
        padding: 0 0 80px 0;
    }
    #top .info .blue-square{
        display: none;
    }
    #top .img .background-img{
        height: 100vh;
    }
}